<html>
  <head>
    <title>Currency Converter</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1>Conversion Results</h1>
    <p>{{amount}} {{fromCurrency}} = {{convertedAmount}} {{toCurrency}}</p>
    <a href="/">Convert More</a>
  </body>
</html>
